html {
    background: url("../images/white-bowls.jpg") no-repeat center fixed;
    background-size: cover;
}

body {
  font-family: 'Cabin', sans-serif !important;
  background-color: transparent;
  color: #666666;
}

.heading {
  font-weight: bold;
  margin-bottom: 5rem;
}

h1 {
  font-size: 4rem;
}

a {
  color: #666666;
  font-size: 1.7rem;
}

.panel-item {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.row.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.display-area {
  padding: 0px 70px 0px 70px;
  margin: 0px 70px 0px 70px;
}

.display-box {
  background-color: white;
  padding: 70px;
  margin: 70px;
  color: #645188;
  font-size: 2rem;
  font-weight: 500;
}

#quote{
  padding: 35px 35px 15px 35px;
}

#author {
  font-size: 1.5rem;
}

.button {
  margin: 20px;
  padding: 5px 10px 5px 10px;

}

.twitter-share-button {
  color: #645188;
  padding: 0px 10px 0px 10px;
}

.twitter-bird {
  max-width: 20px;
}

#location-conds {
  text-transform: capitalize;
}

#location-image {
  width: 75px;
  height: 75px;
}

#scale {
  font-size: 2rem;
  color: #0000EE;
  text-decoration: none;
}
